/* Estilos gerais */
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
  }
  
  .container-notation {
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container-notation button, input[type = "file"] {
    padding: 10px 20px;
    background-color: #173e67;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  }
  
  #deleteNoteBtn{
    width: 100% ;
    margin-top: 0.5rem;
    color: #173e67 !important;
    background-color: white !important;
    border: 1px solid #173e67 !important;
  }

  #noteModal-notation button, input[type = "file"] {
    padding: 10px 20px;
    background-color: #173e67;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  }
  
  #noteForm{
    display: flex;
    flex-direction: column;
  }

  .input-part-notation{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    margin: 10% auto;
    width: 50%;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: red;
}


  .notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
  }

  .noteDate{
    display: flex;
    flex-direction: column;
  }
  
  .note {
    position: relative;
    background: white;
    padding: 1rem 2rem;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 14rem;
    height: 14rem;
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-notation {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  #saveNoteBtn{
    width: 100%;
  }

  .name-part-notation .note-title{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .name-part-notation .outline-css{
    width: 40%;
    height: 0.3rem;
    background: #173e67;
    border-radius: 8px;
  }

  .info-part-notation p{
    margin-top: 0.3rem;
    margin-bottom: 0;
  }


input[type = "text"]{
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid #ccc;
}

input[type = "date"]{
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid #ccc;
}

select{
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1px solid #ccc;
}

#noteComment{
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1px solid #ccc;
}

#notePriority{
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid #ccc;
}
  
  .note-priority {
    font-weight: bold;
    color: #333;
  }

  .note-comment, .note-summarize, .note-image{
    display: none;
  }

  .img-dots{
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
